<nav>
  <% if user_signed_in? %>
    <p><%= current_user.first_name %></p>
    <%= link_to "#{current_user.record_label.name}", authenticated_root_path %>
    <%= link_to "Log out", destroy_user_session_path, method: :delete %>
  <% end %>

</nav>
