input[type=text] {
  border-radius: 4px;
  border: 1px solid #254E70;

  box-shadow: none;

  padding: 8px;
}

input[type=submit] {
  border: 1px solid #31E981;
  border-radius: 4px;
  padding: 8px;

  color: #31E981;
  background: rgba(49, 233, 129, 0.1);
  box-shadow: 2px 2px 2px rgba(30, 30, 30, 0.2)
}

input[type=submit]:hover {
  cursor: pointer;
  background: rgba(49, 233, 129, 0.2);
  box-shadow: none;
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 8px;
}
