form {

  label, .hint {
      display: block;
      font-weight: lighter;
  }

  label {
    font-size: 14px;
  }

  ::placeholder {
    font-style: italic;
  }

  div {
    margin-bottom: 8px;
  }
}

.select2-container {
  width: 100%;
}

.full-width-input {
  width: 95%;
}

.side-by-side-inputs {
  display: flex;
  justify-content: space-between;
}


input[type=text] {
  border-radius: 4px;
  border: 1px solid #254E70;

  box-shadow: none;

  padding: 4px;
}

input[type=submit] {
  border: 0.5px solid #31E981;
  border-radius: 4px;
  padding: 8px;
  margin: 8px;

  color: #31E981;
  background: transparent;
  box-shadow: 2px 2px 2px rgba(30, 30, 30, 0.2)
}

input[type=submit]:hover {
  cursor: pointer;
  box-shadow: none;
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  input[type=text] {
    width: 400px;
  }
}

.hint {
  font-size: 12px;
}

.fa-plus:hover {
  cursor: pointer;
}
