nav {
  position: relative;
  display: flex;
  justify-content: flex-end;

  height: 80px;

  color: #F8F8F8;
  background: #254E70;
}

#tabs {
  position: absolute;
  bottom: 0;
  right: 32%;

  display: flex;
}

.tab {
  padding: 4px 16px;
  margin: 0 0.75px 0 0.75px;
  border-radius: 4px 4px 0 0;

  background: #F8F8F8;

  font-family: 'Shadows Into Light', cursive;
  letter-spacing: 0.1rem;
}
