nav {
  position: relative;
  display: flex;
  justify-content: flex-end;

  height: 80px;

  background: grey;
}

#tabs {
  position: absolute;
  bottom: 0;
  left: 24px;

  display: flex;
}

.tab {
  padding: 4px 16px;
  margin: 0 0.75px 0 0.75px;
  border-radius: 4px 4px 0 0;

  background: white;

  font-family: 'Shadows Into Light', cursive;
  letter-spacing: 0.1rem;
}
