$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';

@import "components/index";
@import 'select2/dist/css/select2';

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;400;700&family=Shadows+Into+Light&display=swap');

body {
  margin: 0;
  background: #F8F8F8;

  font-family: 'Lexend', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #254E70;
}

a {
  text-decoration: none;
}

ul{
  list-style-type: none;
  padding-left: 8px;
}

#main-body {
  display: flex;
  min-height: calc(100vh - 80px)
}

#main-section {
  width: 70%;
  padding: 24px;

  display: flex;
  justify-content: center;
}

#info-bar {
  width: 30%;
  padding: 24px;
  background: #E4E4E4;
}

.hidden {
  display: none;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.just-cont-cent {
  justify-content: center;
}

.marg-16px {
  margin: 16px;
}
